page-rooms {
    .box-label {
        background-color: chocolate;
        border-radius: 3px;
        padding-left: 10px;
        height: 28px;
        padding-top: 4px;
        font-size: 12pt;
        color: white;
    }
    .icon {
        float: right;
        padding-right: 10px;
    }
}