<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Houses</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
   
  <!--
<ion-list>
      <button ion-item *ngFor="let house of houses" (click)="goToHouseDetail(house)" >

        {{house.Name}}
        <div item-end>
          <button ion-button>Edit</button>
          <button ion-button>Delete</button>
        </div>
      </button>
    </ion-list>
  --> 
  <div>
     <div item-end>
       <button ion-button>Create</button>
     </div>
   </div>
   <div *ngFor="let house of houses" class="house-div">
    <ion-row>
      <ion-col>
          <ion-label class="label-name">{{house.name}}</ion-label>
      </ion-col>
      <ion-col>
        <div item-end>
          <button ion-button (click)="goToHouseDetail(house)" class="house-buttons">
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button class="house-buttons">
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col class="col-info">Residents: </ion-col>
        <ion-col class="col-house-info" item-end>{{house.residents}}</ion-col>
      </ion-row>
   </div>

    <!--
    <ion-fab bottom end slot="fixed">
       <button ion-fab fab-fixed color="primary"  ><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    -->
</ion-content>
