<ion-header>
    <ion-navbar>
      <ion-title>Kitchen</ion-title>
    </ion-navbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]="type">
        <ion-segment-button value="visiblity">Visiblity</ion-segment-button>
        <ion-segment-button value="mobility">Mobility</ion-segment-button>
        <ion-segment-button value="safety">Safety</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>
  
<ion-content>
  <div *ngIf="type == 'visiblity'">
    <ion-card>
      <ion-row>
        <ion-col>
          <img [src]="imagePath"/>
        </ion-col>
        <ion-col>
          Visiblity Rec 1
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div *ngIf="type == 'mobility'">

  </div>
  <div *ngIf="type == 'safety'">

  </div>
</ion-content>