<ion-header>
    <ion-navbar>
      <ion-title>{{roomName}}</ion-title>
    </ion-navbar>
  <ion-toolbar>

    <ion-searchbar [(ngModel)]="searchText" (ionChange)="filterRecs()" placeholder="Search recommendations"></ion-searchbar>
  </ion-toolbar>
    <ion-segment [(ngModel)]="selectedCategory" (ionChange)="filterRecs($event)">
        <ion-segment-button *ngFor="let category of recTypes" value="{{category.id}}">
            {{category.name}}
        </ion-segment-button>
    </ion-segment>
</ion-header>
  
<ion-content>

  <div >
      <ion-grid>
        <ion-row style="height: 90px" *ngFor="let rec of filteredRecs">
            <div class="rec-image">
              <img style="width: 80px;height: 80px;" src={{rec.imageURL}} />
            </div>
            <div class="rec-info">
                <p>{{rec.name}}</p>
                <p><em>{{rec.description}}</em></p>
            </div>
          
        </ion-row>
      </ion-grid>
  </div>
</ion-content>