page-saved {
    .tips {
        background-color: rgb(255, 194, 151);
        font-size: 16pt;
        height: 150px;
        color: black;
    }
    .recommends {
        background-color: chocolate;
        font-size: 16pt;
        height: 150px;
        color: black;
    }
}