<ion-header>
        <ion-toolbar>
          <ion-title>
            Create a Resident
          </ion-title>
          <ion-buttons start>
            <button ion-button (click)="dismiss()">
              <span ion-text color="primary" showWhen="ios">Cancel</span>
            </button>
          </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content padding>
        <div>Resident Name</div>
        <ion-item class="item-box">
           <ion-input type="text" value="" [(ngModel)]="newRes.name"></ion-input>
        </ion-item>
        <br>
        <div>Resident Age</div>
        <ion-item class="item-box">
          <ion-input type="number" value=18 [(ngModel)]="newRes.age"></ion-input>
        </ion-item>
        <br>
        <div>Resident Physical Concern(s)</div>
        <ion-item class="item-box">
          <ion-select multiple="true" [(ngModel)]="newRes.physicalConcerns">
            <ion-option *ngFor="let con of physConcerns" value={{con.value}}>{{con.label}}</ion-option>
          </ion-select>
        </ion-item>
        <br>
        <div>Resident Income</div>
        <ion-item class="item-box">
          <ion-select [(ngModel)]="newRes.income" okText="Okay" cancelText="Dismiss">
            <ion-option  *ngFor="let income of incomes" value={{income.value}}>{{income.label}}</ion-option>
          </ion-select>
        </ion-item>
        <br>
        <div>Resident State</div>
        <ion-item class="item-box">
          <ion-select  [(ngModel)]="newRes.state" okText="Okay" cancelText="Dismiss">
            <ion-option *ngFor="let state of states" value="{{state}}">{{state}}</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button class="submit-button" (click)="create()">Save</button>
        <button ion-button class="submit-button" (click)="dismiss()">Cancel</button>
    </ion-content>