page-home {
    .title {
        color: chocolate;
        font-size: 20pt;
        text-align: center;
    }
    .profile {
        background-color: rgb(255, 187, 138);
        color: black;
        height:90px; 
        width:130px; 
        font-size: 11pt;
    }
    .checklist {
        background-color: rgb(255, 158, 88);
        color: black;
        height:90px; 
        width:130px; 
        font-size: 11pt;
    }
    .recommends {
        background-color: rgb(252, 135, 52);
        color: black;
        //height:90px;
        //width:130px; 
    }
    .tips {
        background-color: rgb(255, 106, 0);
        color: black;
        //height:90px;
        //width:130px; 
        //background-image: url('http://www.chineselight.com/uploads/130107/1_114009_1.jpg');
        //background-size: 130px 90px;
        //z-index: 0;
    }
}
