page-home {
    .title {
        color: chocolate;
        font-size: 20pt;
    }
    .profile {
        background-color:  rgb(252, 135, 52);
        color: whitesmoke;
        word-wrap: break-word;
        text-transform: none;
        font-size: 15pt;
        height:90px; 
    }
    .checklist {
        background-color: rgb(252, 135, 52);
        color: whitesmoke;
        word-wrap: break-word;
        text-transform: none;
        font-size: 15pt;
        height:90px; 
    }
    .recommends {
        background-color: rgb(252, 135, 52);
        color: whitesmoke;
        word-wrap: break-word;
        text-transform: none;
        font-size: 15pt;
        height:90px; 
    }
    .tips {
        background-color: rgb(252, 135, 52);
        color: whitesmoke; 
        word-wrap: line;
        text-transform: none;
        font-size: 15pt;
        height:90px; 
    }
    .version {
        color: gray;
        font-size: 15pt;
        text-align: center;
        width: 100%;
        bottom: 20px;
        position: absolute;
    }
}
