page-login {
    .title {
        color: chocolate;
        font-size: 20pt;
        text-align: center;
    }
    .input-item {
        border-radius: 20px;
    }

    .button-parent {
        text-align: center;
        padding: 25px 2.5% 25px 2.5%;
    }

    .login {
        color: whitesmoke;
        display: block;
        border-radius: 8px;
        background-color: rgb(252, 135, 52);
    }
    .general {
        display: block;
        color: whitesmoke;
        border-radius: 8px;
        background-color: rgb(252, 135, 52);
    }
}